<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full h-full bg-zinc-900 p-10 text-white">
    <center><h1 class="text-3xl tracking-tighter mb-5">Users Account</h1></center>

    <div class="userpage mb-10 nav">
        <a class="text-blue-500" href="/">Back to Home</a>
    </div>

    <div class="users flex flex-wrap gap-3">
        <% if(users.length > 0){%>
            <% users.forEach(function(users) { %>
                <div class="user w-75 p-2 rounded-lg bg-zinc-700">
                    <div class="img w-72 h-60 rounded-lg bg-blue-500 overflow-hidden">
                        <img class="w-full h-full object-cover" src="<%= users.imgurl %>" alt="">
                    </div>
                    <center><h3 class="text-xl tracking-tighter mt-2"><%= users.name %></h3></center>
                    <center><h5 class="text-zinc-500 mt-2"><%= users.email %></h5></center>
                    <div class="flex gap-3 align-center justify-center">
                        <a href="/edit/<%= users._id %>" class="text-zinc-200">Edit User</a>
                        <a href="/delete/<%= users._id %>" class="text-red-500">Delete User</a>
                    </div>
                </div>
            <% }) %>
        <% } else {%>
            <center><h1 class="text-3xl text-red-500 tracking-tighter">NO USER CREATED!!!</h1></center>
        <% } %>

    </div>
  </div>
</body>
</html>